<h1>Welcome to book app!</h1>

<ul>
    <% @books.each do |book| %>
        <p>
            <% if user_signed_in? %>
                <%= link_to book.title, book_path(book) %> by <%= book.author %>, added by <%= link_to book.user.email, profile_path(book.user) %>
            <% else %>
                <%= book.title %> by <%= book.author %>, added by <%= book.user.email %>
            <% end %>
        </p>
    <% end %>
</ul>
